#logo {
    width: 200px;
    height: 200px;
    background-image: url('../assests/holberton-logo.jpg');
    background-size: 200px 200px;
}

#count {
    display: inline;
    font-weight: bold;
    margin: 0;
}
