* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App-header {
  background-color: white;
  padding: 20px;
  color: red;
  border-bottom: 3px solid red;
  display: flex;  
}
.App-header h1 {
  margin-top: 30px;
  margin-left: 15px;
}

.App-logo {
  width: 100px; 
  height: auto;
  margin-right: 10px; 
}

.App-body {
  padding: 30px;
  border-bottom: 3px solid red;
  height: 100vh;
}

.App-footer {
  background-color:white;
  padding: 20px;
  color: black;
  font-style: italic;
  text-align: center;
  
}
